body {
  background-color: #F7F9FB;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  /* height: 100%;
  margin: 0;
  padding: 0; */
}

#root {
  color: white;
}

html, body, #app, #app>div {
  height: 100%;
}

.button {
  width: 250px;
}

.input {
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 250px;
}

.card-deck .card {
  min-width: 200px;
}

